@import "./reset.css";
 
:root {
 --app-dark-bg: #1a1d28;
 --app-red: #ff3c57;
 --app-green: #33ab4e;
 --app-purple: #833cff;
 --app-orange: #ff833c;
 --app-blue: #3c57ff;
 --app-blue-hover: #364ee6;
}

#root {
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(circle, #23262b 10%, transparent 11%),radial-gradient(circle at bottom left, #23262b 5%, transparent 6%),radial-gradient(circle at bottom right, #23262b 5%, transparent 6%),radial-gradient(circle at top left, #23262b 5%, transparent 6%),radial-gradient(circle at top right, #23262b 5%, transparent 6%);
    background-size: 3em 3em;
    background-color: #1A1D28;
    opacity: 1
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.rating {
    display: flex;
}

.stars {
    display: flex;
}

.stars + .stars{
   margin-left: 5px;
}

.ratingText {
    margin-top: 10px;
}

.dialog-container {
    position: relative;
    
}
.dialog-container .openButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 130px;
    height: 40px;
    border-radius: 16px;
    background-color: #3c57ff;
    color: #fff;
    font-size: 16px;

}

.openButton.disabled {
    cursor: not-allowed;
}
  
.openButton.disabled:hover {
    cursor: not-allowed;
}

.closeButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 40px;
    border-radius: 16px;
    background-color: #33ab4e;
    color: #fff;
    font-size: 16px;
}

.dialog-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    z-index: 999;
}




